{% extends "./layout.html" %}

{% block title %} 咸宁市报考平台-选择专业 {% endblock %}

{% block main %}
<style>
	.baokaoBox {
		background: rgba(255, 255, 255, 0.8);
		padding: 20px;
    }
    .topBox{
		background: rgba(255, 255, 255, 0.8);
        border-bottom: 2px solid rgb(180, 206, 255);
        padding: 10px;
    }

	.mb10{
		margin-bottom: 15px;
    }
    .leftBox{
        float: left;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px 0;
    }
    .leftBox a{
        display: block;
        width: 80px;
        margin-bottom: 20px;
    }
    .rightBox{
        overflow: hidden;
        min-height: 200px;
        border-left: 1px solid  rgb(180, 206, 255);
        padding-left: 20px;
    }
    .classifyBox{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 200px;

    }
    .rightBox a{
        width: 300px;
        margin: 15px;
    }
    .topBox{
		background: rgba(255, 255, 255, 0.8);
        border-bottom: 2px solid rgb(180, 206, 255);
        padding: 10px;
    }
    .topBox h5 span{
        color: rgb(255, 94, 0);
        font-weight: 700;
    }
</style>
<div class="topBox">
    <span>你好，{{userInfo.uname}}</span>
    <a class="pull-right" href="/home/loginout">退出</a>

</div>
<div class="baokaoBox">
    
    <div class="leftBox">
        <a class="btn btn-info" href="/home/index">考试报名</a>
        <a class="btn btn-default" href="/home/myApply">我的报名</a>
        <a class="btn btn-default" href="/home/myInfo">我的资料</a>
    </div>
    <div class="rightBox">
        <div class="topBox">
            <h5>{{exam_name}} > <span>选择专业</span> </h5>
        
        </div>
        <div class="classifyBox">
            {% for list in classifyLists %}
            <a class="btn btn-primary btn-lg" href="/home/confirm?id={{list._id}}">{{list.classify_name}}</a>
            {% endfor %}
    
            {% if lists.length == 0 %}
            <div class="text-center text-danger py-2">暂时没有可报名的考试信息哦</div>
            {% endif %}
        </div>
        
    </div>
</div>


{% endblock %}