{% extends "./layout.html" %}

{% block title %} 咸宁市报考平台-确认信息 {% endblock %}

{% block main %}
<style>
	.baokaoBox {
		background: rgba(255, 255, 255, 0.8);
		padding: 20px;
    }
    .topBox{
		background: rgba(255, 255, 255, 0.8);
        border-bottom: 2px solid rgb(180, 206, 255);
        padding: 10px;
    }

	.mb10{
		margin-bottom: 15px;
    }
    .leftBox{
        float: left;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px 0;
    }
    .leftBox a{
        display: block;
        width: 80px;
        margin-bottom: 20px;
    }
    .rightBox{
        overflow: hidden;
        min-height: 200px;
        border-left: 1px solid  rgb(180, 206, 255);
        padding-left: 20px;
    }
    .classifyBox{
        min-height: 200px;
        padding: 20px;
    }
    .rightBox a{
        width: 300px;
        margin: 15px;
    }
    .topBox{
		background: rgba(255, 255, 255, 0.8);
        border-bottom: 2px solid rgb(180, 206, 255);
        padding: 10px;
    }
    
    .topBox h5 span{
        color: rgb(255, 94, 0);
        font-weight: 700;
    }
    .titleBox{
        padding: 0px 15px;
        border-left: 4px solid #007bff;
        color: #007bff;
        font-weight: 700;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .titleBox span{
        color: coral;
        font-weight: 500;
    }
    .confirmBtn{
        width: 200px;
        display: block;
        margin: 0 auto;
    }
    .left{
        float: left;
        width: 100px;
        text-align: right;
        font-size: 16px;
        margin-right: 20px;
        color: #666;
    }
    .right{
        overflow: hidden;
        font-size: 16px;

    }
    .baseInfoList{
        margin-bottom: 20px;
    }
    .right img{
        width: 200px;
        height: 128px;
        margin-right: 15px;
        cursor: pointer;
    }
    .right .photo{
        width: 150px;
        height: 210px;
    }
    .formBox {
        position: relative;
    }

    .fileImgBox {
        display: inline-block;
        width: 200px;
        margin-right: 2%;
    }

    .previewImg {
        width: 100%;
        height: 128px;
        border-radius: 5px;
    }
  
    .fileImg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        outline: none;
        cursor: pointer;
        opacity: 0;
    }

</style>
<div class="topBox">
    <span>你好，{{userInfo.uname}}</span>
    <a class="pull-right" href="/home/loginout">退出</a>

</div>
<div class="baokaoBox">
    
    <div class="leftBox">
        <a class="btn btn-info" href="/home/index">考试报名</a>
        <a class="btn btn-default" href="/home/myApply">我的报名</a>
        <a class="btn btn-default" href="/home/myInfo">我的资料</a>
    </div>
    <div class="rightBox">
        <div class="topBox">
            <h5>【{{classifyData.exam[0].exam_name}}】 > 【{{classifyData.classify_name}}】 > <span> 确认报名信息</span> </h5>
        
        </div>
        <div class="classifyBox" id="preImg">
            <div class="titleBox">基本信息<span>（如需修改基本信息，请本人凭身份证到市人社局进行修改）</span></div>
            <div class="baseInfoList">
                <div class="left">姓名</div>
                <div class="right">{{userInfo.uname}}</div>
            </div>
            <div class="baseInfoList">
                <div class="left">手机号</div>
                <div class="right">{{userInfo.phone}}</div>
            </div>
            <div class="baseInfoList">
                <div class="left">身份证号</div>
                <div class="right">{{userInfo.idcode}}</div>
            </div>
            <div class="baseInfoList">
                <div class="left">身份证照片</div>
                <div class="right">
                    <img src="{{userInfo.idcard_z}}">
                    <img src="{{userInfo.idcard_f}}">
                </div>
            </div>

            <div class="baseInfoList">
                <div class="left">登记照</div>
                <div class="right">
                    <img class="photo" src="{{userInfo.photo}}">
                </div>
            </div>

            {% if classifyData.annex %}
            <div class="titleBox">附件上传<span>（附件要求：{{classifyData.annex}}，最多上传9张图，单张大小3M以内）</span></div>
            <div class="baseInfoList annexBox">
                <div class="left">附件</div>
                <div class="right">
                    <div class="formBox">
                        <form class="imgForm" id="idcardForm2" enctype="multipart/form-data" method="post" name="fileinfo">
                            <input class="fileImg" type="file" id="idcardInput2" multiple name="myfile">
                            <div class="fileImgBox">
                                <img class="previewImg" id="idcardPreview2" src="/public/admin/images/add.png">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="btn btn-primary btn-lg confirmBtn">确认提交</div>
        </div>
        <input id="apply_annex" type="hidden" name="apply_annex">
        
    </div>
</div>
<script>
    $('#preImg').viewer();//图片预览

    app.fileChange("idcardInput2", "idcardPreview2", "idcardForm2", "apply_annex", 9);

    $(".confirmBtn").click(function(){
        console.log($("#apply_annex").val()=="");
        if($(".annexBox").length && !$("#apply_annex").val()){
            Swal.fire({
                title: '温馨提示',
                text: "您未上传任何附件，是否继续提交",
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                reverseButtons:true
            }).then(function(result){
                if (result.value) {
                    submitFunc();
                }
            })
            return
        }
        submitFunc();
        
    })
    function submitFunc(){
        app.ajaxPost("/home/doConfirm", {
            exam_id: '{{classifyData.exam_id}}',
            classify_id: '{{classifyData._id}}',
            apply_annex: $("#apply_annex").val()
        }, function (res) {
            console.log(res);
            if (res.code == 0) {
                Swal.fire({
                    title: "报名成功",
                    text: "请等待后台审核，通过后即可缴费。审核结果会以短信通知您。",
                    icon: 'success',
                    showCancelButton: false,
                    allowOutsideClick:false,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: '确定',
                }).then(function(result){
                    if (result.value) {
                        window.location.href = "/home/myApply";
                    }
                })

            } else {
                Swal.fire({
                    title: "温馨提示",
                    text: res.msg,
                    icon: 'info',
                    showCancelButton: false,
                    allowOutsideClick:false,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: '确定',
                }).then(function(result){
                    if (result.value) {
                        window.location.href = "/home/myApply";
                    }
                })
            }
        })
    }
</script>

{% endblock %}