<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} 首页 {% endblock %}</title>

    <script>

    </script>
    <script type="text/javascript" src="/public/index/js/base.js"></script>
</head>
<!-- text-sm 小字体 -->
<body class="hold-transition  sidebar-mini layout-navbar-fixed layout-fixed text-sm">
    <div class="wrapper skin-blue">

        {% block main %} "我是layout页面的默认内容" {% endblock %}

    </div>

</body>

</html>