{% extends "./layout.html" %}

{% block title %} 咸宁市报考平台-我的报名 {% endblock %}

{% block main %}
<style>
	.baokaoBox {
		background: rgba(255, 255, 255, 0.8);
		padding: 20px;
    }
    .topBox{
		background: rgba(255, 255, 255, 0.8);
        border-bottom: 2px solid rgb(180, 206, 255);
        padding: 10px;
    }

	.mb10{
		margin-bottom: 15px;
    }
    .leftBox{
        float: left;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px 0;
    }
    .leftBox a{
        display: block;
        width: 80px;
        margin-bottom: 20px;
    }
    .rightBox{
        overflow: hidden;
        min-height: 200px;
        border-left: 1px solid  rgb(180, 206, 255);
        padding: 20px;
    }
    .tabBox{
        padding: 10px 0;
    }
    .tabBox li{
        display: inline-block;
        padding: 0 20px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid rgb(131, 131, 131);
        color:  rgb(131, 131, 131);
        border-radius: 2px;
        cursor: pointer;
    }
    .tabBox .current{
        border: none;
        background: rgb(255, 118, 38);
        color: #fff;
    }
    .handlebtn{
        cursor: pointer;
        color: rgb(67, 67, 255);
    }
    .table{
        display: none;
    }
    
    .table0{
        display: table;
    }
    .tableScore{
        display: table !important;
        margin-bottom: 0;
    }
    #cardModal .modal-dialog{
        min-width: 734px !important;
    }
</style>
<div class="topBox">
    <span>你好，{{userInfo.uname}}</span>
    <a class="pull-right" href="/home/loginout">退出</a>

</div>
<div class="baokaoBox">
    
    <div class="leftBox">
        <a class="btn btn-default" href="/home/index">考试报名</a>
        <a class="btn btn-info" href="/home/myApply">我的报名</a>
        <a class="btn btn-default" href="/home/myInfo">我的资料</a>

    </div>
    <div class="rightBox">
        <ul class="tabBox">
            <li class="current">已申请</li>
            <li>待缴费</li>
            <li>待考试</li>
            <li>成绩查询</li>
        </ul>
        <!-- 已申请 -->
        <table class="table table-bordered table0">
            <thead>
                <tr>
                    <th>报考类型</th>
                    <th>报考专业</th>
                    <th>报名时间</th>
                    <th>当前状态</th>
                    <th>审核时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for list in lists %}
                {% if list.verify_status != 1 %}

                <tr>
                    <td>{{list.exam[0].exam_name}}</td>
                    <td>{{list.classify[0].classify_name}}</td>
                    <td>{{helper.formatTime(list.apply_time)}}</td>
                    <td>
                        {% if list.verify_status ==0 %}
                        <span class="label label-warning">待审核</span>
                        {% else %}
                        <span class="label label-danger">审核不通过</span>
                        {% endif %}
                    </td>
                    <td>{{helper.formatTime(list.verify_time)}}</td>
                    <td>
                        {% if list.verify_status ==2 %}
                        <span class="handlebtn reason" data-reason="{{list.verify_reason}}">查看原因</span>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}

                {% endfor %}

            </tbody>
        </table>
        <!-- 待缴费 -->
        <table class="table table-bordered table1">
            <thead>
                <tr>
                    <th>报考类型</th>
                    <th>报考专业</th>
                    <th>考试时间</th>
                    <th>当前状态</th>
                    <th>缴费截止时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for list in lists %}
                {% if list.verify_status ==1 and list.pay_status==0 %}

                <tr>
                    <td>{{list.exam[0].exam_name}}</td>
                    <td>{{list.classify[0].classify_name}}</td>
                    <td>{{helper.formatTime2(list.classify[0].exam_start)}}</td>
                    <td><span class="label label-success">审核通过待缴费</span></td>
                    <td>{{helper.formatTime2(list.classify[0].pay_end)}}</td>
                    <td>
                        <span class="handlebtn payBtn" data-fee="{{list.classify[0].apply_fee}}" data-id="{{list._id}}">缴费</span>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

            </tbody>
        </table>
        <!-- 待考试 -->
        <table class="table table-bordered table2">
            <thead>
                <tr>
                    <th>报考类型</th>
                    <th>报考专业</th>
                    <th>当前状态</th>

                    <th>考试时间</th>

                    <th>准考证号</th>
                    <th>考试地点</th>

                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for list in lists %}
                {% if list.verify_status ==1 and list.pay_status==1 and (nowDate < list.classify[0].exam_end) %}

                <tr>
                    <td>{{list.exam[0].exam_name}}</td>
                    <td>{{list.classify[0].classify_name}}</td>
                    <td><span class="label label-warning">待考试</span></td>
                    <td>{{helper.formatTime2(list.classify[0].exam_start)}}</td>
                    <td>{{list.exam_card}}</td>
                    <td>{{list.room_name}}</td>

                    <td>
                        {% if  (nowDate > list.downcard_date) %}

                        <span class="handlebtn downCard" data-id="{{list._id}}">下载准考证</span>
                        {% endif %}
                    
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

            </tbody>
        </table>
        <!-- 成绩查询 -->
        <table class="table table-bordered table3">
            <thead>
                <tr>
                    <th>报考类型</th>
                    <th>报考专业</th>
                    <th>考试时间</th>
                    <th>考试结果</th>
                </tr>
            </thead>
            <tbody>
                {% for list in lists %}
                {% if list.verify_status ==1 and list.pay_status==1 and (nowDate > list.classify[0].exam_end) %}

                <tr>
                    <td>{{list.exam[0].exam_name}}</td>
                    <td>{{list.classify[0].classify_name}}</td>
                    <td>{{helper.formatTime2(list.exam[0].exam_start)}}</td>
                    <td>
                        {% if  list.result_status==1 %}

                        <span class="handlebtn getResult" data-id="{{list._id}}">查看</span>
                        {% else %}
                        <span class="label label-warning">待公布</span>

                        {% endif %}
                    
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
<!-- 准考证 Modal -->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">准考证</h4>
            </div>
            <div class="modal-body">
                <canvas id="cardCanvas" width="700" height="1000" style="border: 1px solid rgb(176, 204, 255);"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- 查看成绩 Modal -->
<div class="modal fade" id="scoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">查看成绩</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered tableScore" style="display: table;">
                    <thead>
                        <tr>
                            <th>报考类型</th>
                            <th>报考专业</th>
                            <th>申论</th>
                            <th>行测</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>人事考试</td>
                            <td>二级消防</td>
                            <td>67</td>
                            <td>88</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    
    var path=$('#cardCanvas').getCanvasImage();
    console.log(path);
    $('#cardModal').modal('show');
    // getcanvasInfo("61d40b6a3380de98082c7f0e");
    getcanvasInfo("61d44ed9d76c8fe6e881098d");
    function getcanvasInfo(examinee_id){
        app.ajaxPost("/home/getScoreInfo",{
			examinee_id:examinee_id
		},function(res){
            console.log(res);
            $('#cardModal').modal('show');
            $('#cardCanvas').drawPath({
                strokeStyle: '#000',
                strokeWidth: 1,
                p1: {
                    type: 'line',
                    x1: 15, y1: 15,
                    x2: 685, y2: 15,
                    x3: 685, y3: 985,
                    x4: 15, y4: 985,
                    x5: 15, y5: 15
                },
                p2: {
                    type: 'line',
                    x1: 15, y1: 95,
                    x2: 685, y2: 95
                },
                p3: {
                    type: 'line',
                    x1: 15, y1: 135,
                    x2: 566, y2: 135
                },
                p4: {
                    type: 'line',
                    x1: 15, y1: 175,
                    x2: 566, y2: 175
                },
                p5: {
                    type: 'line',
                    x1: 15, y1: 215,
                    x2: 566, y2: 215
                },
                p6: {
                    type: 'line',
                    x1: 15, y1: 255,
                    x2: 685, y2: 255
                },
                p7: {
                    type: 'line',
                    x1: 566, y1: 95,
                    x2: 566, y2: 255
                },
                p8: {
                    type: 'line',
                    x1: 80, y1: 95,
                    x2: 80, y2: 255
                },
                p9: {
                    type: 'line',
                    x1: 195, y1: 95,
                    x2: 195, y2: 175
                },
                p10: {
                    type: 'line',
                    x1: 260, y1: 95,
                    x2: 260, y2: 175
                },
                p11: {
                    type: 'line',
                    x1: 395, y1: 135,
                    x2: 395, y2: 175
                },
                p12: {
                    type: 'line',
                    x1: 460, y1: 135,
                    x2: 460, y2: 175
                },
                //考试科目部分
                p13: {
                    type: 'line',
                    x1: 15, y1: 295,
                    x2: 685, y2: 295
                },
                p14: {
                    type: 'line',
                    x1: 180, y1: 255,
                    x2: 180, y2: 295
                },
                p15: {
                    type: 'line',
                    x1: 320, y1: 255,
                    x2: 320, y2: 295
                },
                p16: {
                    type: 'line',
                    x1: 450, y1: 255,
                    x2: 450, y2: 295
                },
                p17: {
                    type: 'line',
                    x1: 566, y1: 255,
                    x2: 566, y2: 295
                },
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                //fontStyle: 'bold',
                fontSize: '20px',
                text: res.data.exam[0].exam_name+"（"+res.data.classify[0].classify_name+"）",
                x: 350, y: 37,
            });
            
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '24px',
                text: '准考证',
                x: 350, y: 70,
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: '考区',
                x: 48, y: 115,
            });
            
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: '咸宁考区',
                x: 137, y: 115,
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: '考点名称',
                x: 228, y: 115,
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: res.data.room_name,
                x: 400, y: 115,
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: '姓名',
                x: 48, y: 155,
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: res.data.uname,
                x: 137, y: 155,
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: '准考证号',
                x: 228, y: 155,
            });
            
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '13px',
                text: res.data.exam_card,
                x: 328, y: 155,
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: '专业代码',
                x: 428, y: 156,
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: res.data.classify[0].classify_code,
                x: 510, y: 156,
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: '身份证号',
                x: 48, y: 195,
            });
            
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: res.data.idcode,
                x: 300, y: 195,
                align:'right',
                maxWidth: 300
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: '考点地址',
                x: 48, y: 235,
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: res.data.room_addr,
                x: 300, y: 235,
            });
            //画登记照
            $('#cardCanvas').drawImage({
                source: res.data.photo,
                x: 570, y: 99,
                width: 110,
                height: 150,
                fromCenter: false
            });
            //科目标题
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: "考试科目",
                x: 105, y: 275,
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: "考试日期",
                x: 250, y: 275,
            });
            
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: "考试时间",
                x: 380, y: 275,
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: "考场号",
                x: 505, y: 275,
            });
            $('#cardCanvas').drawText({
                fillStyle: '#000',
                fontSize: '14px',
                text: "座位号",
                x: 620, y: 275,
            });

            var subjectArr=res.data.subject;
            for (let i = 0; i < subjectArr.length; i++) {
                $('#cardCanvas').drawPath({
                    strokeStyle: '#000',
                    strokeWidth: 1,
                    //考试科目部分
                    p1: {
                        type: 'line',
                        x1: 15, y1: 295+40*(i+1),
                        x2: 685, y2: 295+40*(i+1)
                    },
                    p2: {
                        type: 'line',
                        x1: 180, y1: 255+40*(i+1),
                        x2: 180, y2: 295+40*(i+1)
                    },
                    p3: {
                        type: 'line',
                        x1: 320, y1: 255+40*(i+1),
                        x2: 320, y2: 295+40*(i+1)
                    },
                    p4: {
                        type: 'line',
                        x1: 450, y1: 255+40*(i+1),
                        x2: 450, y2: 295+40*(i+1)
                    },
                    p5: {
                        type: 'line',
                        x1: 566, y1: 255+40*(i+1),
                        x2: 566, y2: 295+40*(i+1)
                    },
                });
                $('#cardCanvas').drawText({
                    fillStyle: '#000',
                    fontSize: '14px',
                    text: subjectArr[i].subject_name,
                    x: 105, y: 275+40*(i+1),
                });
                $('#cardCanvas').drawText({
                    fillStyle: '#000',
                    fontSize: '14px',
                    text: '{{helper.formatTime3('+subjectArr[i].exam_date+')}}',
                    x: 250, y: 275+40*(i+1),
                });
                
                $('#cardCanvas').drawText({
                    fillStyle: '#000',
                    fontSize: '14px',
                    text: subjectArr[i].exam_time,
                    x: 380, y: 275+40*(i+1),
                });
                $('#cardCanvas').drawText({
                    fillStyle: '#000',
                    fontSize: '14px',
                    text: res.data.room_num,
                    x: 505, y: 275+40*(i+1),
                });
                $('#cardCanvas').drawText({
                    fillStyle: '#000',
                    fontSize: '14px',
                    text: res.data.seat_num,
                    x: 620, y: 275+40*(i+1),
                });
            }



        })
    }
    $(".downCard").click(function(){
        var examinee_id=$(this).attr("data-id");
        app.ajaxPost("/home/getScoreInfo",{
			examinee_id:examinee_id
		},function(res){
            console.log(res);
            $('#cardModal').modal('show');
            $('#cardCanvas').drawPath({
                strokeStyle: '#000',
                strokeWidth: 4,
                p1: {
                    type: 'line',
                    x1: 200, y1: 50,
                    x2: 100, y2: 150,
                    x3: 200, y3: 150,
                    x4: 120, y4: 200
                }
            });
        })
    })
    

    if($(".table0 tbody").find("tr").length==0) {
        $(".table0 tbody").html('<tr><td class="text-center" colspan="6">暂无对应报考信息</td></tr>');
    }
    $(".tabBox li").click(function(){
        var index=$(this).index();
        console.log(index);
        $(this).addClass("current").siblings("li").removeClass("current");
        $(".table").hide();

        $(".table"+index).show();
        if ($(".table"+index+" tbody").find("tr").length==0) {
            var colspan=4;
            if (index!=3) {
                colspan=colspan+index+1;
            }
            if (index==0) {
                colspan=6
            }
            $(".table"+index+" tbody").html('<tr><td class="text-center" colspan="'+colspan+'">暂无对应报考信息</td></tr>');
        }
    })
  
    $(".reason").click(function(){
        var _this=$(this);
        Swal.fire({
            title: "不通过原因",
            text: _this.attr("data-reason"),
            icon: 'info',
            showCancelButton: false,
            allowOutsideClick:false,
            confirmButtonColor: '#3085d6',
            confirmButtonText: '确定',
        })
    })

    //查看结果
    $(".getResult").click(function(){
        var examinee_id=$(this).attr("data-id");
        
        app.ajaxPost("/home/getScoreInfo",{
			examinee_id:examinee_id
		},function(res){
			console.log(res);
			if (res.code==0) {
                
                var subjectArr=res.data.subject;
                var scoreArr=res.data.scorelists;

                var subjectStr="";
                var scoreStr="";

                for (let i = 0; i < subjectArr.length; i++) {
                    subjectStr+='<th>'+subjectArr[i].subject_name+'</th>';
                }
                for (let k = 0; k < scoreArr.length; k++) {
                    scoreStr+='<td>'+scoreArr[k].core+'</td>';
                    
                }
                var tableStr=
                '<thead>'+
                '    <tr>'+
                '        <th>报考类型</th>'+
                '        <th>报考专业</th>'+
                subjectStr+
                '    </tr>'+
                '</thead>'+
                '<tbody>'+
                '    '+
                '    <tr>'+
                '        <td>'+res.data.exam[0].exam_name+'</td>'+
                '        <td>'+res.data.classify[0].classify_name+'</td>'+
                scoreStr+
                '    </tr>'+
                '   '+
                '</tbody>';

                $(".tableScore").html(tableStr);
                $('#scoreModal').modal('show');
				
			}else{
				Swal.fire({
					title: "温馨提示",
					text: res.msg,
					icon: 'warning',
					showCancelButton: false,
					allowOutsideClick:false,
					confirmButtonColor: '#3085d6',
					confirmButtonText: '确定',
				})
			}
		});




    })

    //缴费按钮
    $(".payBtn").click(function(){
        var examinee_id=$(this).attr("data-id");
        var fee=$(this).attr("data-fee");

        app.ajaxPost("/home/changePayStatus",{
            examinee_id:examinee_id,
            fee:fee
		},function(res){
            console.log(res);
			if (res.code==0) {
                Swal.fire({
					title: "温馨提示",
					text: res.msg,
					icon: 'success',
					showCancelButton: false,
					allowOutsideClick:false,
					confirmButtonColor: '#3085d6',
					confirmButtonText: '好的',
				}).then(function(){
                    window.location.reload();
                })
            }else{
                Swal.fire({
					title: "温馨提示",
					text: res.msg,
					icon: 'warning',
					showCancelButton: false,
					allowOutsideClick:false,
					confirmButtonColor: '#3085d6',
					confirmButtonText: '确定',
				})
            }
        });
    })

</script>

{% endblock %}