{% extends "./layout.html" %}

{% block title %} 咸宁市报考平台-我的报名 {% endblock %}

{% block main %}
<style>
	.baokaoBox {
		background: rgba(255, 255, 255, 0.8);
		padding: 20px;
    }
    .topBox{
		background: rgba(255, 255, 255, 0.8);
        border-bottom: 2px solid rgb(180, 206, 255);
        padding: 10px;
    }

	.mb10{
		margin-bottom: 15px;
    }
    .leftBox{
        float: left;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px 0;
    }
    .leftBox a{
        display: block;
        width: 80px;
        margin-bottom: 20px;
    }
    .rightBox{
        overflow: hidden;
        min-height: 200px;
        border-left: 1px solid  rgb(180, 206, 255);
    }
    .tabBox{
        padding: 20px;
    }
    .tabBox li{
        display: inline-block;
        padding: 0 15px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        border: 1px solid rgb(131, 131, 131);
        color:  rgb(131, 131, 131);
        border-radius: 5px;
        cursor: pointer;
    }
    .tabBox .current{
        border: none;
        background: rgb(255, 118, 38);
        color: #fff;
    }
</style>
<div class="topBox">
    <span>你好，{{userInfo.uname}}</span>
    <a class="pull-right" href="/home/loginout">退出</a>

</div>
<div class="baokaoBox">
    
    <div class="leftBox">
        <a class="btn btn-default" href="/home/index">考试报名</a>
        <a class="btn btn-info" href="/home/myApply">我的报名</a>
        <a class="btn btn-default" href="/home/myInfo">我的资料</a>

    </div>
    <div class="rightBox">
        <ul class="tabBox">
            <li class="current">已申请</li>
            <li>待缴费</li>
            <li>待考试</li>
            <li>成绩查询</li>
        </ul>
    </div>
</div>


{% endblock %}