{% extends "../public/layout.html" %}

{% block title %} 增加考试 {% endblock %}

{% block main %}

<!-- <link rel="stylesheet" href="/public/admin/bootstrap-3.4.1-dist/css/bootstrap.min.css"> -->

<link rel="stylesheet" href="/public/admin/datepicker/font-awesome.min.css">
<link rel="stylesheet" href="/public/admin/datepicker/prettify-1.0.css">
<link rel="stylesheet" href="/public/admin/datepicker/bootstrap-datetimepicker.css">


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">增加考试</h3>
                    </div>
                    <form id="actionForm" role="form" action="/admin/exam/doAdd" method="post">
                        <div class="card-body pb0">
                            <div class="form-group col-md-6">
                                <label for="exam_name">考试类型名称</label>
                                <input type="text" class="form-control" id="exam_name" name="exam_name" required>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="exam_year">考试年份</label>
                                <div class='input-group date' id='datetimepicker10'>
                                    <input type='text' class="form-control"  id="exam_year" name="exam_year" required/>
                                    <span class="input-group-addon">
                                        <span class="fas fa-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="title">考试公告标题</label>
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>

                        </div>
                        <input id="content" type="hidden" name="content">
                        
                    </form>
                    <div class="col-md-12">
                        <div class="card-body pt0">
                    
                            <label for="">考试公告内容</label>
                            <div id="editor">
                                
                            </div>
                    
                        </div>
                    
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary submitBtn">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="/public/admin/datepicker/jquery-2.1.1.min.js"></script>

<script type="text/javascript" src="/public/admin/datepicker/bootstrap.min.js"></script>

<script type="text/javascript" src="/public/admin/datepicker/moment-with-locales.js"></script>

<script type="text/javascript" src="/public/admin/datepicker/bootstrap-datetimepicker.js"></script>

<script type="text/javascript" src="/public/admin/wangEditor/wangEditor.js"></script>
<script>
    $('#datetimepicker10').datetimepicker({
        viewMode: 'years',
        format: 'YYYY'
    });


    var E = window.wangEditor
    var editor = new E('#editor')
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        //'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        //'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        //'link',  // 插入链接
        //'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        //'emoticon',  // 表情
        'image',  // 插入图片
        'table',  // 表格
        //'video',  // 插入视频
        //'code',  // 插入代码
        'undo',  // 撤销
        'redo'  // 重复
    ]
    editor.customConfig.showLinkImg = false;
    editor.customConfig.uploadImgServer = '/admin/wangUpload?_csrf=' + csrf;
    editor.customConfig.uploadImgMaxLength = 10;
    editor.customConfig.debug = 1;
    editor.customConfig.height = 500;

    editor.create()

    $(".submitBtn").click(function () {
        console.log(editor.txt.html());
        $("#content").val(editor.txt.html());

        $("#actionForm").submit();
    })
</script>  
{% endblock %}