{% extends "../public/layout.html" %}

{% block title %} 增加考试 {% endblock %}

{% block main %}

<!-- <link rel="stylesheet" href="/public/admin/bootstrap-3.4.1-dist/css/bootstrap.min.css"> -->

<link rel="stylesheet" href="/public/admin/datepicker/font-awesome.min.css">
<link rel="stylesheet" href="/public/admin/datepicker/prettify-1.0.css">
<link rel="stylesheet" href="/public/admin/datepicker/bootstrap-datetimepicker.css">

<style>
    .card-second-header{
        margin-bottom: 15px;
        color: rgb(255, 115, 0);
        padding-left: 5px !important;
    }
    .card-second-header .card-title{
        font-weight: 700 !important;

    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">新增专业</h3>
                    </div>
                    <form id="actionForm" role="form" action="/admin/classify/doAdd" method="post">
                        <div class="card-body pb0">
                            <div class="card-header card-second-header">
                                <h3 class="card-title">基本信息</h3>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exam_id">考试类别</label>
                                <select class="form-control" name="exam_id" id="exam_id">
                                    {% for item in examLists %}
                                    <option value="{{item._id}}">{{item.exam_name}}({{item.exam_year}})</option>
                                    {% endfor %}
                                </select>
                            </div> 

                            <div class="form-group col-md-6">
                                <label for="classify_name">专业名称</label>
                                <input type="text" class="form-control" id="classify_name" name="classify_name" required>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="classify_code">专业代码</label>
                                <input type="text" class="form-control" id="classify_code" name="classify_code" required>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="apply_start">报名开始时间</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control"  id="apply_start" name="apply_start" required/>
                                    <span class="input-group-addon">
                                        <span class="fas fa-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="apply_end">报名结束时间</label>
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' class="form-control"  id="apply_end" name="apply_end" required/>
                                    <span class="input-group-addon">
                                        <span class="fas fa-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="pay_end">缴费截止时间</label>
                                <div class='input-group date' id='datetimepicker3'>
                                    <input type='text' class="form-control"  id="pay_end" name="pay_end" required/>
                                    <span class="input-group-addon">
                                        <span class="fas fa-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="apply_fee">报名费用<span>（单位：元）</span></label>
                                <input type="number" class="form-control" id="apply_fee" name="apply_fee" required>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="annex">附件要求 <span>（描述考生报名时需要上传的附件，附件以图片形式上传）</span></label>
                                <input type="text" class="form-control" id="annex" name="annex" required placeholder="例：需上传毕业证书与学位证书照片">
                            </div>
                        </div>
                        
                    </form>
                    <div class="card-body pb0">
                        <div class="card-header card-second-header">
                            <h3 class="card-title">科目信息</h3>
                        </div>

                        
                    </div>
                    
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary submitBtn">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="/public/admin/datepicker/jquery-2.1.1.min.js"></script>

<script type="text/javascript" src="/public/admin/datepicker/bootstrap.min.js"></script>

<script type="text/javascript" src="/public/admin/datepicker/moment-with-locales.js"></script>

<script type="text/javascript" src="/public/admin/datepicker/bootstrap-datetimepicker.js"></script>

<script type="text/javascript" src="/public/admin/wangEditor/wangEditor.js"></script>
<script>
    $('#datetimepicker1').datetimepicker({
        viewMode: 'years',
        format: 'YYYY-MM-DD'
    });

    $('#datetimepicker2').datetimepicker({
        viewMode: 'years',
        format: 'YYYY-MM-DD'
    });
    $('#datetimepicker3').datetimepicker({
        viewMode: 'years',
        format: 'YYYY-MM-DD'
    });


    $(".submitBtn").click(function () {

        $("#actionForm").submit();
    })
</script>  
{% endblock %}