{% extends "../public/layout.html" %}

{% block title %} 一级分类列表 {% endblock %}

{% block main %}
    <style>
        .bannerBox{
            padding: 30px;
        }
        .bannerList{
            margin: 0 auto;
            width: 170px;
            padding: 10px;
            border: 1px solid #ccc;
        }
        .bannerBox img{
            width: 150px;
            height: 150px;
            margin-bottom: 20px;
            border-radius: 10px;
        }
        .bannerBox p{
            margin-bottom: 10px;
        }
        td{
            line-height: 60px;
        }
        td img{
            width: 60px;
        }
        .gotoSecond{
            width: 100px;
        }
    </style>
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card ">
                        <div class="card-header">
                            <h3 class="card-title">一级分类列表</h3>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover  table-bordered">
                                <thead>
                                    <tr>
                                        <th>分类名称</th>
                                        <th>分类图标</th>
                                        <th>排序</th>
                                        <th class="text-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for list in lists %}
                                    {# {% if list.is_super==0 %} #}

                                    <tr>
                                        <td>{{list.catename}}</td>
                                        <td><img src="{{list.imgurl}}"></td>
                                        <!-- <td>{{list.email}}</td> -->
                                        <td>
                                            <span class="sort" onclick="app.editNum(this,'Catefirst','sort','{{list._id}}')">{{list.sort}}</span>
                                        </td>
                                    
                                        <td class="text-center">
                                            <a class="gotoSecond" href="/admin/catesecond?catefirst_id={{list._id}}">查看二级分类</a>
                                            <a class="delete" href="javascript:(0)" onclick="app.deleteConfirm('/admin/delete?model=Catefirst&id={{list._id}}')">删除</a>
                                        
                                        </td>
                                    </tr>
                                    {# {% endif %} #}

                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if lists.length == 0 %}
                            <div class="text-center py-2">暂时没有信息哦</div>
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>

{% endblock %}