{% extends "../public/layout.html" %}

{% block title %} 考试列表 {% endblock %}

{% block main %}

    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card ">
                        
                        <div class="card-header">
                            <h3 class="card-title">考试列表</h3>

                            <a href="/admin/exam/add" class="toolBtn btn btn-primary float-right" style="font-size: 1rem;">增加考试</a>

                            <div class="card-tools">

                                <form action="/admin/exam" method="GET">
                                    <div class="input-group input-group" style="width: 250px;margin:0;">

                                        <input type="text" name="keyword" class="form-control float-right"
                                            placeholder="请输入关键词" value="{{keyword}}">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary"><i
                                                    class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover  table-bordered">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>考试名称</th>
                                        <th>考试年份</th>
                                        <th>公告标题</th>
                                        <th>发布机构</th>
                                        <th>发布人</th>
                                        <th>当前状态</th>

                                        <th class="text-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for list in lists %}

                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{list.exam_name}}</td>
                                        <td>{{list.exam_year}}</td>
                                        <td>{{list.title}}</td>
                                        <td>{{list.organ[0].organ_name}}</td>
                                        <td>{{list.admin[0].username}}</td>
                                        <td>
                                            {% if list.status==0 %}
                                             <span class="text-danger">未发布</span>
                                            {% else %}
                                             <span class="text-success">已发布</span>
                                            {% endif %}
                                        </td>

                                        <td class="text-center">
                                            <a href="/admin/exam/edit?id={{list._id}}">编辑</a>

                                            {% if list.status==0 %}
                                            <a class="successBtn changeStatus" data-id="{{list._id}}" data-status="{{list.status}}" href="javascript:(0)">上线</a>
                                            {% else %}
                                            <a class="dangerBtn changeStatus" data-id="{{list._id}}" data-status="{{list.status}}" href="javascript:(0)">下线</a>
                                            {% endif %}

                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if lists.length == 0 %}
                            <div class="text-center py-2">暂时没有信息哦</div>
                            {% endif %}
                        </div>
                        
                    </div>
                   
                </div>
            </div>

        </div>
    </section>
    <script>
        $(".changeStatus").click(function(){
            var status=$(this).attr("data-status");
            var id=$(this).attr("data-id");
            if(status==0){
                var title="确认发布上线吗";
                var text="发布上线之前请确保该项考试专业、科目等信息设置完整";
            }else{
                var title="确认下线吗";
                var text="下线之后，考生不可看到报名入口，不影响此前报名数据";
            }
            Swal.fire({
                title: title,
                text: text,
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    app.ajaxPost("/admin/exam/changeStatus",{
                        curStatus:status,
                        id:id
                    },function(res){
                        console.log(res);
                        if(res.code="00"){
                            window.location.reload();
                        }
                    });
                }
            })



        })
    </script>

{% endblock %}