{% extends "../public/layout.html" %}

{% block title %} 增加车辆 {% endblock %}

{% block main %}

<style>
    .select2-container .select2-selection--single {
        height: inherit;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 8px;
            
    }
    .custom-file-label {
        position: absolute;
        top: inherit;
        right: 7.5px;
        left: 7.5px;
    }
    .previewImg{
        margin-bottom:10px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">增加车辆</h3>
                    </div>
                    
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-body ">
                                    <div class="form-group col-sm-12">

                                        <label for="exampleInputFile">车辆主图<span>（上传宽高比为 2：1 的图片）</span></label>
                                        <div class="formBox">
                                            <form class="imgForm" id="idcardForm" enctype="multipart/form-data" method="post"
                                                name="fileinfo">
                                                <input class="fileImg" type="file" id="idcardInput" multiple name="myfile">
                                                <div class="fileImgBox">
                                                    <img class="previewImg" id="idcardPreview" src="{{carResult.main_img}}">
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">

                                        <label for="exampleInputFile">车辆轮播图<span>（上传宽高比为 2：1 的图片,上限5张）</span></label>
                                        <div class="formBox">
                                            <form class="imgForm" id="socialForm" enctype="multipart/form-data" method="post"
                                                name="fileinfo">
                                                <input class="fileImg" type="file" id="socialInput" multiple  name="myfile">
                                                {% for item in carResult.banner_imgs.split(",") %}
                                                <div class="fileImgBox">
                                                    <img class="previewImg" id="socialPreview" src="{{item}}">
                                                </div>
                                                {% endfor %}

                                            </form>

                                        </div>
                                    </div>




                                    <div class="form-group  col-sm-12 custom-file">
                                        <form class="imgForm" id="videoForm" enctype="multipart/form-data" method="post"
                                            name="fileinfo">
                                                <label for="videoInput">车辆介绍视频</label>
                                                <input type="file" class="custom-file-input" id="videoInput"  name="myfile" >
                                                <label class="custom-file-label" for="videoInput">
                                                {% if carResult.video_url %}
                                                已有视频
                                                {% else %}
                                                选择视频
                                                {% endif %}
                                                </label>
                                        </form>

                                    </div>


                                </div>
                                <form id="actionForm" role="form" action="/admin/car/doEdit" method="post">
                                    <div class="card-body">
                                        <div class="form-group col-md-12">
                                            <label>品牌</label>
                                            <select class="form-control select2" style="width: 100%;" name="brand_id">
                                                <option value="">请选择</option>
                                                {% for item in brandRes %}
                                                <option value="{{item._id}}" {% if item._id.toString()==carResult.brand_id.toString() %}selected{% endif %}>{{item.brand_name}}</option>

                                                {% endfor %}

                                            </select>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="exampleInputUsername3">车型</label>
                                            <input type="text"  name="car_type" value="{{carResult.car_type}}" placeholder="如：瑞虎7" class="form-control" id="exampleInputUsername3">
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="exampleInputUsername4">车名</label>
                                            <input type="text"  name="car_name" value="{{carResult.car_name}}" placeholder="如：瑞虎7  2020款 1.5T CVT 精英版" class="form-control" id="exampleInputUsername4">
                                        </div>

                                        {# <div class="form-group col-md-12">
                                            <label for="exampleInputUsername5">宣传标语</label>
                                            <input type="text"  name="title" placeholder="自定义标语" class="form-control" id="exampleInputUsername5">
                                        </div> #}
                                        <div class="form-group col-md-12">
                                            <label for="exampleInputUsername6">厂商指导价</label>
                                            <input type="number"  name="firms_price" value="{{carResult.firms_price}}" placeholder="单位：元" class="form-control" id="exampleInputUsername6">
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="8exampleInputUsername5">俱乐部3.5折购车价</label>
                                            <input type="number"  name="first_price" value="{{carResult.first_price}}" placeholder="单位：元" class="form-control" id="8exampleInputUsername5">
                                        </div>

                                        {# <div class="form-group col-md-12">
                                            <label for="7exampleInputUsername5">全国最低参考价</label>
                                            <input type="text"  name="cankao_price" placeholder="单位：元" class="form-control" id="7exampleInputUsername5">
                                        </div> #}

                                        <div class="form-group col-md-12">
                                            <label for="8exampleInputUsername5">销售量</label>
                                            <input type="number"  name="edit_saled_num" value="{{carResult.edit_saled_num}}" placeholder="自定义销售量" class="form-control" id="8exampleInputUsername5">
                                        </div>







                                        <div class="form-group col-md-12">
                                            <label for="exampleInputUsername2">排序<span>（正整数，数字越大，越靠前）</span></label>
                                            <input type="number" class="form-control" id="exampleInputUsername2" name="sort" value="{{carResult.sort}}">
                                        </div>

                                        <input id="main_img" type="hidden" name="main_img"  value="{{carResult.main_img}}">
                                        <input id="banner_imgs" type="hidden" name="banner_imgs"  value="{{carResult.banner_imgs}}">
                                        <input id="video_url" type="hidden" name="video_url"  value="{{carResult.video_url}}">
                                        <input id="detailcontent" type="hidden" name="detailcontent"  value="{{carResult.detail[0].content}}">
                                        <input id="attributecontent" type="hidden" name="attributecontent"  value="{{carResult.attribute[0].content}}">
                                        <input id="id" type="hidden" name="id"  value="{{carResult._id}}">
                                        <input id="detail_id" type="hidden" name="detail_id"  value="{{carResult.detail_id}}">
                                        <input id="attribute_id" type="hidden" name="attribute_id"  value="{{carResult.attribute_id}}">



                                    </div>

                                </form>
                            </div>

                            <div class="col-md-6">
                                    <div class="card-body">

                                        <label for="">汽车图文详情</label>
                                        <div id="editor1">
                                            {{carResult.detail[0].content|safe}}
                                        </div>

                                    </div>
                                    <div class="card-body">

                                        <label for="">配置信息<span>（建议以表格形式展示）</span></label>
                                        <div id="editor2">
                                            {{carResult.attribute[0].content|safe}}

                                        </div>

                                    </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-footer">
                        <button class="submitBtn btn btn-primary" type="button">提交</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
    <script type="text/javascript" src="/public/admin/wangEditor/wangEditor.js"></script>

<script>
    var E = window.wangEditor
    var editor1 = new E('#editor1')
    editor1.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        //'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        //'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        //'link',  // 插入链接
        //'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        //'emoticon',  // 表情
        'image',  // 插入图片
        'table',  // 表格
        //'video',  // 插入视频
        //'code',  // 插入代码
        'undo',  // 撤销
        'redo'  // 重复
    ]
    editor1.customConfig.colors = [
        '#000000',
        '#eeece0',
        '#1c487f',
        '#4d80bf',
        '#c24f4a',
        '#8baa4a',
        '#7b5ba1',
        '#46acc8',
        '#f9963b',
        '#ffffff'
    ]
    editor1.customConfig.showLinkImg = false;
    editor1.customConfig.uploadImgServer = '/admin/wangUpload?_csrf=' + csrf;
    editor1.customConfig.uploadImgMaxLength = 10;
    editor1.customConfig.debug = 1;
    editor1.customConfig.height = 400;

    editor1.create()


    var editor2 = new E('#editor2')
    editor2.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        //'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        //'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        //'link',  // 插入链接
        //'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        //'emoticon',  // 表情
        'image',  // 插入图片
        'table',  // 表格
        //'video',  // 插入视频
        //'code',  // 插入代码
        'undo',  // 撤销
        'redo'  // 重复
    ]
    editor2.customConfig.showLinkImg = false;
    editor2.customConfig.uploadImgServer = '/admin/wangUpload?_csrf=' + csrf;
    editor2.customConfig.uploadImgMaxLength = 10;
    editor2.customConfig.debug = 1;
    editor2.customConfig.height = 400;

    editor2.create()




    app.fileChange("idcardInput", "idcardPreview", "idcardForm", "main_img", 1);
    app.fileChange("socialInput", "socialPreview", "socialForm", "banner_imgs", 5);

    app.videoFileChange("videoInput","videoForm","video_url");
    $(".submitBtn").click(function () {
        $("#detailcontent").val(editor1.txt.html());
        $("#attributecontent").val(editor2.txt.html());

        if (checkNull('banner_imgs') && checkNull('main_img') && checkNull('brand_id')&& checkNull('sort')&& checkNull('car_name')&& checkNull('car_type')&& checkNull('firms_price')&& checkNull('first_price')&& checkNull('edit_saled_num') ) {
            $("#actionForm").submit();

        }else{
            Swal.fire({
                title: '请填写完整信息',
                text: "",
                icon: 'warning',
                confirmButtonText: '好的'
            })
        }
    })

    function checkNull(name) {
        console.log(name);
        if ($("input[name='" + name + "']").val() || $("select[name='" + name + "']").val()) {
        console.log(true);
            
            return true;
        } else {
        console.log(false);

            return false;

        }
    }
</script>

{% endblock %}