<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin" class="brand-link">
        <!-- <img src="/public/admin/images/logo.png" alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="box-shadow: 0 0 15px #fff !important;"> -->
        <span class="brand-text font-weight-light">咸宁市人事报考平台后台管理系统</span>
    </a>





    <!-- Sidebar -->
    <div class="sidebar">

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column  " data-widget="treeview" role="menu"
                data-accordion="false">

                {% for asideList in asideLists %}

                {% if (asideList.checked and asideList.type==1)or(adminInfo.is_super==1 and asideList.type==1) %}
                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas {{asideList.icon_class}}"></i>
                        <p class="module_name">
                            <span>{{asideList.module_name}}</span>
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% for item in asideList.items %}
                        {% if (item.checked and item.type!=3)or(adminInfo.is_super==1 and item.type!=3) %}
                        <li class="nav-item">
                            <a href="{{item.url}}" class="nav-link" target="iframBox">
                                <i class="fas {{item.icon_class}} nav-icon"></i>
                                <p class="action_name">{{item.action_name}}</p>
                                <span class="badge badge-primary right"></span>
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}

                    </ul>
                </li>
                {% endif %}
                {% endfor %}

                {% if adminInfo.is_super==1 %}
                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-list-ul"></i>
                        <p class="module_name">
                            <span>权限管理</span>
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="/admin/organ" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">机构管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/manager" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">管理员管理</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-list-ul"></i>
                        <p class="module_name">
                            <span>配置管理</span>
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="/admin/link" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">友链管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/config" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">网站设置</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-list-ul"></i>
                        <p class="module_name">
                            <span>用户管理</span>
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="/admin/user" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">用户列表</p>
                            </a>
                        </li>
        
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link">
                        <i class="fas fa-list-ul nav-icon"></i>
                        <p class="module_name">
                            <span>考试管理</span>
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="/admin/exam" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">考试列表</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/classify" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">专业管理</p>
                            </a>
                        </li>
                       
                    </ul>
                </li>
                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link">
                        <i class="fas fa-list-ul nav-icon"></i>
                        <p class="module_name">
                            <span>考生管理</span>
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="/admin/batch" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">批量导入</p>
                            </a>
                        </li>
                       
                    </ul>
                </li>
                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-list-ul"></i>
                        <p class="module_name">
                            <span>审核管理</span>
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="/admin/apply/verifying" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">待审核</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/apply/verifyed" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">已审核</p>
                            </a>
                        </li>
        
                    </ul>
                </li>

                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-list-ul"></i>
                        <p class="module_name">
                            <span>缴费管理</span>
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="/admin/apply/payLists" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">缴费列表</p>
                            </a>
                        </li>
        
                    </ul>
                </li>

                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-list-ul"></i>
                        <p class="module_name">
                            <span>考场分配</span>
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="/admin/allocate/allocating" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">待分配</p>
                            </a>
                        </li>
        
                        <li class="nav-item">
                            <a href="/admin/allocate/allocated" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">已分配</p>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="/admin/allocate/endLists" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">已结束</p>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-list-ul"></i>
                        <p class="module_name">
                            <span>统计报表</span>
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="/admin/statistics/dataDetail" class="nav-link" target="iframBox">
                                <i class="fas fa-list-ul nav-icon"></i>
                                <p class="action_name">数据明细</p>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

