{% extends "../public/layout.html" %}

{% block title %} 编辑友情链接 {% endblock %}

{% block main %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">编辑友情链接</h3>
                    </div>
                    <form role="form" action="/admin/link/doEdit" method="post">
                        <div class="card-body">
                            <div class="form-group col-md-6">
                                <label for="link_name">链接名称</label>
                                <input type="text" class="form-control" id="link_name" name="link_name" value="{{data.link_name}}" required="required">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="link_url">链接地址</label>
                                <input type="text" class="form-control" id="link_url" name="link_url" value="{{data.link_url}}" required="required">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="sort">排序 <span>（数字越大，权重越大）</span></label>
                                <input type="text" class="form-control" id="sort" name="sort" value="{{data.sort}}" required="required">
                            </div>

                        </div>
                        
                        <input type="hidden" name="id" readonly value="{{data._id}}" />

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}