{% extends "../public/layout.html" %}

{% block title %} 增加轮播图 {% endblock %}

{% block main %}

<style>
    .select2-container .select2-selection--single {
        height: inherit;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 8px;
    }
    .previewImg{
        height:160px;
        width:200px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">增加公告</h3>
                    </div>
                    
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-body ">
                                    <div class="form-group col-sm-12">

                                        <label for="exampleInputFile">公告图片<span>（上传宽高比为 5:4 的图片）</span></label>
                                        <div class="formBox">
                                            <form class="imgForm" id="idcardForm" enctype="multipart/form-data" method="post"
                                                name="fileinfo">
                                                <input class="fileImg" type="file" id="idcardInput" multiple name="myfile">
                                                <div class="fileImgBox">
                                                    <img class="previewImg" id="idcardPreview" src="/public/admin/images/add01.png">
                                                </div>
                                            </form>

                                        </div>
                                    </div>

                                </div>
                                <form id="actionForm" role="form" action="/admin/announcement/doAdd" method="post">
                                    <div class="card-body">
                                        <div class="form-group col-md-12">
                                            <label for="exampleInputUsername">公告标题</label>
                                            <input type="text" class="form-control" id="exampleInputUsername" name="title">
                                        </div>

                                        <input id="type" type="hidden" name="type" value="2">
                                        <input id="main_img" type="hidden" name="main_img" >
                                        <input id="content" type="hidden" name="content" >

                                    </div>

                                </form>
                            </div>

                            <div class="col-md-6">
                                    <div class="card-body">

                                        <label for="">公告跳转详情</label>
                                        <div id="editor">
                                            <p>请编辑图文详情</p>
                                        </div>

                                    </div>

                            </div>
                        </div>
                    </div>


                    <div class="card-footer">
                        <button class="submitBtn btn btn-primary" type="button">提交</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
    <script type="text/javascript" src="/public/admin/wangEditor/wangEditor.js"></script>

<script>
    var E = window.wangEditor
    var editor = new E('#editor')
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        //'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        //'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        //'link',  // 插入链接
        //'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        //'emoticon',  // 表情
        'image',  // 插入图片
        'table',  // 表格
        //'video',  // 插入视频
        //'code',  // 插入代码
        'undo',  // 撤销
        'redo'  // 重复
    ]
    editor.customConfig.showLinkImg = false;
    editor.customConfig.uploadImgServer = '/admin/wangUpload?_csrf=' + csrf;
    editor.customConfig.uploadImgMaxLength = 10;
    editor.customConfig.debug = 1
    editor.create()

    app.fileChange("idcardInput", "idcardPreview", "idcardForm", "main_img", 1);

    $(".submitBtn").click(function () {
        console.log(editor.txt.html());
        $("#content").val(editor.txt.html());

        if (checkNull('title') && checkNull('main_img') && checkNull('content') ) {
            $("#actionForm").submit();

        }else{
            Swal.fire({
                title: '请填写完整信息',
                text: "",
                icon: 'warning',
                confirmButtonText: '好的'
            })
        }
    })

    function checkNull(name) {
        if ($("input[name='" + name + "']").val() || $("select[name='" + name + "']").val()) {
            return true;
        } else {
            return false;
        }
    }
</script>

{% endblock %}