{% extends "../public/layout.html" %}

{% block title %} 待审核列表 {% endblock %}

{% block main %}

    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card ">
                        
                        <div class="card-header">
                            <h3 class="card-title">待审核列表</h3>

                            <a href="/admin/classify/add" class="toolBtn btn btn-primary float-right" style="font-size: 1rem;">设置专业</a>

                            <div class="card-tools">

                                <div class="input-group input-group" style="width: 250px;margin:0;">

                                    <select class="form-control" id="examSelect">
                                        <option value="" {% if exam_id=="" %}selected{% endif %}>全部</option>

                                        {% for item in examLists %}
                                        
                                        <option value="{{item._id}}" {% if item._id.toString()==exam_id.toString() %}selected{% endif %}>{{item.exam_name}}({{item.exam_year}})</option>
    
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover  table-bordered">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>考试名称</th>
                                        <th>专业名称</th>
                                        <th>专业代码</th>
                                        <th>报名起止时间</th>

                                        <th class="text-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for list in lists %}

                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{list.exam[0].exam_name}}</td>
                                        <td>{{list.classify_name}}</td>
                                        <td>{{list.classify_code}}</td>
                                        <td>{{helper.formatTime2(list.apply_start)}} 至 {{helper.formatTime2(list.apply_end)}}</td>
                                        

                                        <td class="text-center">
                                            <a href="/admin/classify/edit?id={{list._id}}">编辑</a>

                                      
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if lists.length == 0 %}
                            <div class="text-center py-2">暂时未设置专业信息，请前往设置</div>
                            {% endif %}
                        </div>
                        
                    </div>
                   
                </div>
            </div>

        </div>
    </section>
    <script>
        $("#examSelect").change(function(){
            window.location.href="/admin/classify?exam_id="+$(this).val()
        })

        $(".changeStatus").click(function(){
            var status=$(this).attr("data-status");
            var id=$(this).attr("data-id");
            if(status==0){
                var title="确认发布上线吗";
                var text="发布上线之前请确保该项考试专业、科目等信息设置完整";
            }else{
                var title="确认下线吗";
                var text="下线之后，考生不可看到报名入口，不影响此前报名数据";
            }
            Swal.fire({
                title: title,
                text: text,
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    app.ajaxPost("/admin/exam/changeStatus",{
                        curStatus:status,
                        id:id
                    },function(res){
                        console.log(res);
                        if(res.code="00"){
                            window.location.reload();
                        }
                    });
                }
            })



        })
    </script>

{% endblock %}