{% extends "../public/layout.html" %}

{% block title %} 审核报考信息 {% endblock %}

{% block main %}

<style>
      .titleBox{
        padding: 0px 15px;
        border-left: 4px solid #007bff;
        color: #007bff;
        font-weight: 700;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .titleBox span{
        color: coral;
        font-weight: 500;
    }
    .confirmBtn{
        width: 200px;
        display: block;
        margin: 0 auto;
    }
    .left{
        float: left;
        width: 100px;
        text-align: right;
        font-size: 16px;
        margin-right: 20px;
        color: #666;
    }
    .right{
        overflow: hidden;
        font-size: 16px;

    }
    .baseInfoList{
        margin-bottom: 20px;
    }
    .right img{
        width: 200px;
        height: 128px;
        margin-right: 15px;
        cursor: pointer;
    }
    .right .photo{
        width: 150px;
        height: 210px;
    }
    textarea{
        resize: none;
    }
    .checkTitle{
        color: rgb(255, 122, 13);
        border-left: 4px solid  rgb(255, 122, 13);
    }
    .btn-danger{
        margin-right: 20px;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">审核报考信息</h3>
                    </div>
                    <div class="card-body"  id="preImg">
                        <div class="titleBox">考试信息</div>
                        
                        <div class="baseInfoList">
                            <div class="left">考试类别</div>
                            <div class="right">{{examineeInfo.exam[0].exam_name}}（{{examineeInfo.exam[0].exam_year}}）</div>
                        </div>
                        <div class="baseInfoList">
                            <div class="left">考试科目</div>
                            <div class="right">{{examineeInfo.classify[0].classify_name}}</div>
                        </div>

                        <div class="titleBox">基本信息</div>

                        <div class="baseInfoList">
                            <div class="left">姓名</div>
                            <div class="right">{{examineeInfo.uname}}</div>
                        </div>
                        <div class="baseInfoList">
                            <div class="left">手机号</div>
                            <div class="right">{{examineeInfo.phone}}</div>
                        </div>
                        <div class="baseInfoList">
                            <div class="left">身份证号</div>
                            <div class="right">{{examineeInfo.idcode}}</div>
                        </div>
                        <div class="baseInfoList">
                            <div class="left">身份证照片</div>
                            <div class="right">
                                <img src="{{examineeInfo.idcard_z}}">
                                <img src="{{examineeInfo.idcard_f}}">
                            </div>
                        </div>
            
                        <div class="baseInfoList">
                            <div class="left">登记照</div>
                            <div class="right">
                                <img class="photo" src="{{examineeInfo.photo}}">
                            </div>
                        </div>
                    
                        {% if examineeInfo.classify[0].annex %}
                        <div class="titleBox">报名附件<span>（{{examineeInfo.classify[0].annex}}）</span></div>
                    
                        <div class="baseInfoList">
                            <div class="left">上传附件</div>
                            <div class="right">
                                {% if examineeInfo.apply_annex %}
                                {% for item in examineeInfo.apply_annex.split(",") %}
                                <img class="photo" src="{{item}}">
                                {% endfor %}
                                {% else %}
                                <p class="text-danger text-bold">该用户未上传附件信息</p>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                       
                    <form id="actionForm" role="form" action="/admin/apply/doVerify" method="get">

                        <div class="card-body">
                            <div class="form-group col-md-6">
                                <div class="titleBox checkTitle">审核</div>

                                <textarea class="form-control" name="verify_reason" id="verify_reason" maxlength="150" rows="5" placeholder="请输入不通过原因"></textarea>
                            </div>
                        </div>
                        <input type="hidden" name="verify_status" id="verify_status">
                        <input type="hidden" name="id" value="{{examineeInfo._id}}">
                        <input type="hidden" name="backpage" value="{{prevPage}}">
                      
                        
                    </form>
                    <div class="card-footer">
                        <button class="btn btn-danger">不通过</button>
                        <button class="btn btn-success">通过</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('#preImg').viewer();//图片预览

    $(".btn-danger").click(function(){
        if ($("#verify_reason").val()=="") {
            Swal.fire({
                title: "温馨提示",
                text: "请输入不通过原因",
                icon: 'info',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: '确定',
            })
            return
        }
        $("#verify_status").val("2");
        $("#actionForm").submit();
    })
    $(".btn-success").click(function(){
        $("#verify_status").val("1");
        $("#actionForm").submit();
    })
</script>

{% endblock %}