{% extends "../public/layout.html" %}

{% block title %} 已审核列表 {% endblock %}

{% block main %}

<script type="text/javascript" src="/public/index/js/jcanvas.min.js"></script>

<style>
    
    table td .text-check{
        background-color: #28a745;
        border-color: #28a745;
        color: #fff !important;
    }
    .downBtn{
        margin-right: 30px;
    }
    #InputFile{
        cursor: pointer;
    }
    .tip{
        color: coral;
        margin-bottom: 0;
        height: 38px;
        line-height: 38px;
        font-size: 16px;
    }
    /* .custom-file-label::after{
        content: "导入";
        background-color: #28a745;
        color: #fff !important;
    } */
    .cardBox{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }
    .listBox{
        width: 152px;
        margin: 8px;
        font-size: 12px;
        box-shadow: 1px 1px 4px 1px rgb(212, 212, 212);
        padding: 5px;
    }
    .listBox img{
        width: 140px;
        height: 200px;
        margin-bottom: 5px;
    }
    .listBox p{
        margin-bottom: 3px;
    }
    .listBox p span{
        margin-left: 10px;
    }
    .listBox p:first-of-type{
        font-size: 14px;
        font-weight: 700;
    }
    .listBox p:nth-of-type(2){
        font-size: 14px;
    }
    .input-group span{
        display: inline-block;
        height: 38px;
        line-height: 38px;
        margin-left: 15px;
        font-size: 16px;
        color: #999;
    }
    .card-header .toolBtn{
        margin-left: 30px;
    }
    #seatCanvas{
        position: fixed;
        top: 10000px;
        left: 10000px;
    }
</style>
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card ">
                        
                        <div class="card-header">
                            <h3 class="card-title">考场安排详情</h3>
                            <button id="exportBtn" class="toolBtn btn btn-success float-right" style="font-size: 1rem;">导出座位表</button>

                            <button id="searchBtn" class="toolBtn btn btn-primary float-right" style="font-size: 1rem;">搜索</button>

                            <div class="card-tools">

                                <div class="input-group" style="width: 500px;margin:0;">
                                    <span>考点名称：</span>
                                    <select class="form-control" id="roomNameSelect">

                                        {% for item in roomNameArr %}
                                        
                                        <option value="{{item}}" {% if item==room_name %}selected{% endif %}>{{item}}</option>
    
                                        {% endfor %}
                                    </select>
                                    <span>考场号：</span>
                                    <select class="form-control" id="roomNumSelect">

                                        {% for item in roomNumArr %}
                                        
                                        <option value="{{item}}" {% if item==room_num %}selected{% endif %}>{{item}}</option>
    
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                        </div>
                        
                        <div class="card-body table-responsive cardBox">
                            

                            {% for list in lists %}
                            <div class="listBox">
                                {% if list.photo %}
                                <img src="{{list.photo}}">
                                {% else %}
                                <img src="/public/admin/images/pl02.png">
                                {% endif %}
                                
                                <p>{{list.uname}}</p>
                                <p>{{list.idcode}}</p>
                                <p>考场号：{{list.room_num}} <span>座位号：{{list.seat_num}}</span> </p>
                            </div>
                            {% endfor %}
                            
                            


                            {% if lists.length == 0 %}
                            <div class="text-center py-2">暂无考生信息</div>
                            {% endif %}
                        </div>
                   
                    </div>
                   
                </div>
            </div>

        </div>
    </section>

<!-- 座位表 Modal -->

<canvas id="seatCanvas" width="1200" height="840"></canvas>

    <script>
        $("#exportBtn").click(function(){
            if ($(".listBox").length==0) {
                Swal.fire({
                    title: "温馨提示",
                    text: "该考场无考生信息",
                    icon: 'info',
                    showCancelButton: false,
                    allowOutsideClick:false,
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: '好的',
                })
                return
            }
            drawCanvas();
            setTimeout(function(){
                var path=$('#seatCanvas').getCanvasImage();
                console.log(path);
                var a = document.createElement('a');          // 创建一个a节点插入的document
                var event = new MouseEvent('click');           // 模拟鼠标click点击事件
                a.download = '{{lists[0].room_name+lists[0].room_num}}号考场';                  // 设置a节点的download属性值
                a.href = path;                                 // 将图片的src赋值给a节点的href
                a.dispatchEvent(event); 
            },500)
            
        })
        

        function drawCanvas(){
            app.ajaxPost("/admin/allocate/getSeatsLists", {
                classify_id: '{{classify_id}}',
                room_name: $("#roomNameSelect").val(),
                room_num: $("#roomNumSelect").val(),

            }, function (res) {
                console.log(res);
                if (res.code==0) {
                    var lists=res.data;

                    var hLen= Math.ceil(lists.length/7);
                    // $("#seatCanvas").attr("width",980);
                    // $("#seatCanvas").attr("height",60+275*hLen);

                    //$("#seatCanvas").height((60+275*hLen)+"px");

                    $('#seatCanvas').drawRect({
                        fillStyle: '#fff',
                        fromCenter: false,
                        x: 0, y: 0,
                        width: 1200, height: 840
                    })
                    var drawPathObj={
                        strokeStyle: '#000',
                        strokeWidth: 1,
                        p1: {
                            type: 'line',
                            x1: 0, y1: 0,
                            x2: 1200, y2: 0,
                            x3: 1200, y3: 810,
                            x4: 0, y4:810,
                            x5: 0, y5: 0
                        },
                        p2: {
                            type: 'line',
                            x1: 200, y1: 50,
                            x2: 200, y2: 810
                        },
                        p3: {
                            type: 'line',
                            x1: 400, y1: 50,
                            x2: 400, y2: 810
                        },
                        p4: {
                            type: 'line',
                            x1: 600, y1: 50,
                            x2: 600, y2: 810
                        },
                        p5: {
                            type: 'line',
                            x1: 800, y1: 50,
                            x2: 800, y2: 810
                        },
                        p6: {
                            type: 'line',
                            x1: 1000, y1: 50,
                            x2: 1000, y2: 810
                        },
                        p7: {
                            type: 'line',
                            x1: 0, y1: 50,
                            x2: 1200, y2: 50
                        },
                        
                        p8: {
                            type: 'line',
                            x1: 550, y1: 816,
                            x2: 650, y2: 816,
                            x3: 650, y3: 838,
                            x4: 550, y4:838,
                            x5: 550, y5: 816
                        },
                    };
                    for (let i = 0; i < 4; i++) {
                        drawPathObj['p'+(i+9)]={
                            type: 'line',
                            x1: 0, y1: 50+152*(i+1),
                            x2: 1200, y2: 50+152*(i+1)
                        }
                    }

                    $('#seatCanvas').drawPath(drawPathObj);
                    $('#seatCanvas').drawText({
                        fillStyle: '#000',
                        fontSize: '10pt',
                        text: "讲台",
                        x: 600, y: 828,
                    });
                    $('#seatCanvas').drawText({
                        fillStyle: '#000',
                        fontSize: '14pt',
                        text: res.classifyData.exam[0].exam_name+"（"+res.classifyData.classify_name+"）",
                        x: 600, y: 20,
                    });

                    $('#seatCanvas').drawText({
                        fillStyle: '#000',
                        fontSize: '11pt',
                        text: "考点："+res.data[0].room_name+"("+res.data[0].room_addr+")",
                        x: 20, y: 40,
                        align:"left",
                        respectAlign: true,
                        maxWidth: 300
                    });
                    $('#seatCanvas').drawText({
                        fillStyle: '#000',
                        fontSize: '11pt',
                        text: "考场号："+res.data[0].room_num+"    人数："+res.data.length,
                        x: 1180, y: 40,
                        align:"right",
                        respectAlign: true,
                    });
                    var i=0;
                    var h=0;
                    for (let k = 0; k < lists.length; k++) {
                        
                        i=k%5;
                        h=Math.floor(k/5);
                        let photoUrl= lists[k].photo||"/public/admin/images/pl03.png";

                        $('#seatCanvas').drawImage({
                            source: photoUrl,
                            x: 5+200*h, y: 840-30-26-100-152*i,
                            width: 70,
                            height: 100,
                            fromCenter: false
                        });
                        $('#seatCanvas').drawText({
                            fillStyle: '#000',
                            fontStyle: 'bold',
                            fontSize: '12px',
                            text: '座位号：'+lists[k].seat_num,
                            x: 80+200*h, y: 810-152-80+ 85-152*i,
                            fromCenter: false
                        });
                        $('#seatCanvas').drawText({
                            fillStyle: '#000',
                            
                            fontSize: '12px',
                            text: "姓名："+lists[k].uname,
                            x: 80+200*h, y: 810-152-80+101-152*i,
                            fromCenter: false
                        });
                        $('#seatCanvas').drawText({
                            fillStyle: '#000',
                            
                            fontSize: '10px',
                            text: "身份证号：",
                            x: 80+200*h, y: 810-152-80+118-152*i,
                            fromCenter: false
                        });
                        $('#seatCanvas').drawText({
                            fillStyle: '#000',
                            fontSize: '10px',
                            text: lists[k].idcode,
                            x: 80+200*h, y: 810-152-80+135-152*i,
                            fromCenter: false
                        });
                        $('#seatCanvas').drawText({
                            fillStyle: '#000',
                            
                            fontSize: '10px',
                            text: "准考证号：",
                            x: 80+200*h, y: 810-152-80+152-152*i,
                            fromCenter: false
                        });
                        $('#seatCanvas').drawText({
                            fillStyle: '#000',
                            fontSize: '10px',
                            text: lists[k].exam_card,
                            x: 80+200*h, y: 810-152-80+169-152*i,
                            fromCenter: false
                        });
                        
                        $('#seatCanvas').drawText({
                            fillStyle: '#000',
                            fontSize: '11px',
                            text: '进场签字：',
                            x: 80+200*h, y: 810-152-80+190-152*i,
                            fromCenter: false
                        });
                        $('#seatCanvas').drawText({
                            fillStyle: '#000',
                            fontSize: '11px',
                            text: '交卷签字：',
                            x: 80+200*h, y: 810-152-80+212-152*i,
                            fromCenter: false
                        });
                        $('#seatCanvas').drawPath({
                            strokeStyle: '#000',
                            strokeWidth: 1,
                            p1: {
                                type: 'line',
                                x1: 130+200*h, y1: 810-152-80+203-152*i,
                                x2: 195+200*h, y2: 810-152-80+203-152*i,
                            },
                            p2: {
                                type: 'line',
                                x1: 130+200*h, y1: 810-152-80+230-152*i,
                                x2: 195+200*h, y2: 810-152-80+230-152*i,
                            },
                        });
                    }
                    




                }
            })
            
        }

        //自动按数量生成
        function drawCanvasAuto(){
            app.ajaxPost("/admin/allocate/getSeatsLists", {
                classify_id: '{{classify_id}}',
                room_name: $("#roomNameSelect").val(),
                room_num: $("#roomNumSelect").val(),

            }, function (res) {
                console.log(res);
                if (res.code==0) {
                    var lists=res.data;
                    var hLen= Math.ceil(lists.length/7);
                    $("#seatCanvas").attr("width",980);
                    $("#seatCanvas").attr("height",60+275*hLen);

                    $("#seatCanvas").height((60+275*hLen)+"px");

                    $('#seatCanvas').drawRect({
                        fillStyle: '#fff',
                        fromCenter: false,
                        x: 0, y: 0,
                        width: 980, height: 60+275*hLen
                    })
                    var drawPathObj={
                        strokeStyle: '#000',
                        strokeWidth: 1,
                        p1: {
                            type: 'line',
                            x1: 0, y1: 0,
                            x2: 980, y2: 0,
                            x3: 980, y3: 60+275*hLen,
                            x4: 0, y4: 60+275*hLen,
                            x5: 0, y5: 0
                        },
                        p2: {
                            type: 'line',
                            x1: 140, y1: 60,
                            x2: 140, y2: 60+275*hLen
                        },
                        p3: {
                            type: 'line',
                            x1: 280, y1: 60,
                            x2: 280, y2: 60+275*hLen
                        },
                        p4: {
                            type: 'line',
                            x1: 420, y1: 60,
                            x2: 420, y2: 60+275*hLen
                        },
                        p5: {
                            type: 'line',
                            x1: 560, y1: 60,
                            x2: 560, y2: 60+275*hLen
                        },
                        p6: {
                            type: 'line',
                            x1: 700, y1: 60,
                            x2: 700, y2: 60+275*hLen
                        },

                        p7: {
                            type: 'line',
                            x1: 840, y1: 60,
                            x2: 840, y2: 60+275*hLen
                        },
                        p8: {
                            type: 'line',
                            x1: 0, y1: 60,
                            x2: 980, y2: 60
                        }
                    };
                    for (let i = 0; i < hLen; i++) {
                        drawPathObj['p'+(i+9)]={
                            type: 'line',
                            x1: 0, y1: 60+275*(i+1),
                            x2: 980, y2: 60+275*(i+1)
                        }
                    }

                    $('#seatCanvas').drawPath(drawPathObj)
                    $('#seatCanvas').drawText({
                        fillStyle: '#000',
                        fontSize: '14pt',
                        text: res.classifyData.exam[0].exam_name+"（"+res.classifyData.classify_name+"）",
                        x: 490, y: 30,
                    });

                    $('#seatCanvas').drawText({
                        fillStyle: '#000',
                        fontSize: '12pt',
                        text: "考点："+res.data[0].room_name+"("+res.data[0].room_num+"号考场)",
                        x: 960, y: 30,
                        align:"right",
                        respectAlign: true,
                    });
                    
                    var i=0;
                    var h=0;
                    for (let k = 0; k < lists.length; k++) {
                        
                        i=k%7;
                        h=Math.floor(k/7);
                        let photoUrl= lists[i].photo||"/public/admin/images/pl03.png";
                        $('#seatCanvas').drawImage({
                            source:photoUrl,
                            x: 10+140*i, y: 65+275*h,
                            width: 120,
                            height: 170,
                            fromCenter: false
                        });
                        $('#seatCanvas').drawText({
                            fillStyle: '#000',
                            fontStyle: 'bold',
                            fontSize: '14px',
                            text: lists[i].uname,
                            x: 10+140*i, y: 240+275*h,
                            fromCenter: false
                        });

                        $('#seatCanvas').drawText({
                            fillStyle: '#000',
                            fontSize: '12px',
                            text: '座位号：'+lists[i].seat_num,
                            x: 10+140*i, y: 258+275*h,
                            fromCenter: false
                        });
                        $('#seatCanvas').drawText({
                            fillStyle: '#000',
                            fontSize: '12px',
                            text: lists[i].exam_card,
                            x: 10+140*i, y: 274+275*h,
                            fromCenter: false
                        });
                        $('#seatCanvas').drawText({
                            fillStyle: '#000',
                            fontSize: '12px',
                            text: lists[i].idcode,
                            x: 10+140*i, y: 290+275*h,
                            fromCenter: false
                        });
                        $('#seatCanvas').drawText({
                            fillStyle: '#000',
                            fontSize: '14px',
                            text: '签字：',
                            x: 10+140*i, y: 310+275*h,
                            fromCenter: false
                        });
                    }
                    




                }
            })
            
        }


        $("#searchBtn").click(function(){
            window.location.href="/admin/allocate/allocatedDetail?exam_id={{exam_id}}&classify_id={{classify_id}}&room_name="+$("#roomNameSelect").val()+"&room_num="+$("#roomNumSelect").val();
        })
        $("#roomNameSelect").change(function(){
            app.ajaxPost("/admin/allocate/getRoomNumLists", {
                classify_id: '{{classify_id}}',
                room_name: $("#roomNameSelect").val()
            }, function (res) {
                console.log(res);
                if (res.code==0) {
                    var lists=res.data;
                    var str='';
                    for (let i = 0; i < lists.length; i++) {
                        str+='<option value="'+lists[i].room_num+'">'+lists[i].room_num+'</option>'
                    }
                    $("#roomNumSelect").html(str);
                }
            })

        })

        $("#examSelect").change(function(){
            app.ajaxPost("/admin/classify/getClassifyLists", {
                exam_id: $(this).val()
            }, function (res) {
                console.log(res);
                if (res.code==0) {
                    var lists=res.data;
                    var str='<option value="">全部</option>';
                    for (let i = 0; i < lists.length; i++) {
                        str+='<option value="'+lists[i]._id+'">'+lists[i].classify_name+'</option>'
                    }
                    $("#classifySelect").html(str);
                }
            })

        })

     
       


    </script>

{% endblock %}