{% extends "../public/layout.html" %}

{% block title %} 已审核列表 {% endblock %}

{% block main %}
<style>
    
    table td .text-check{
        background-color: #28a745;
        border-color: #28a745;
        color: #fff !important;
    }
    .downBtn{
        margin-right: 30px;
    }
    #InputFile{
        cursor: pointer;
    }
    .tip{
        color: coral;
        margin-bottom: 0;
        height: 38px;
        line-height: 38px;
        font-size: 16px;
    }
    /* .custom-file-label::after{
        content: "导入";
        background-color: #28a745;
        color: #fff !important;
    } */
</style>
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card ">
                        
                        <div class="card-header">
                            <h3 class="card-title">考场安排详情</h3>
                            <button id="searchBtn" class="toolBtn btn btn-primary float-right" style="font-size: 1rem;">搜索</button>

                            <div class="card-tools">

                                <div class="input-group input-group" style="width: 500px;margin:0;">

                                    <select class="form-control" id="roomNameSelect">

                                        {% for item in roomNameArr %}
                                        
                                        <option value="{{item}}" {% if item==room_name %}selected{% endif %}>{{item}}</option>
    
                                        {% endfor %}
                                    </select>
                                    <select class="form-control" id="roomNumSelect">

                                        {% for item in roomNumArr %}
                                        
                                        <option value="{{item}}" {% if item==room_num %}selected{% endif %}>{{item}}</option>
    
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                        </div>
                        
                        <div class="card-body table-responsive ">
                            

                            {% for list in lists %}
                            <div class="listBox">
                                <img src="{{list.photo}}">
                                <p>姓名：{{list.uname}}</p>
                                <p>身份证：{{list.idcode}}</p>
                                <p>考场号：{{list.room_num}}</p>
                                <p>座位号：{{list.seat_num}}</p>
                            </div>
                            {% endfor %}
                            {% if lists.length == 0 %}
                            <div class="text-center py-2">暂无考生信息</div>
                            {% endif %}
                        </div>
                   
                    </div>
                   
                </div>
            </div>

        </div>
    </section>
    <script>
        $("#examSelect").change(function(){
            app.ajaxPost("/admin/classify/getClassifyLists", {
                exam_id: $(this).val()
            }, function (res) {
                console.log(res);
                if (res.code==0) {
                    var lists=res.data;
                    var str='<option value="">全部</option>';
                    for (let i = 0; i < lists.length; i++) {
                        str+='<option value="'+lists[i]._id+'">'+lists[i].classify_name+'</option>'
                    }
                    $("#classifySelect").html(str);
                }
            })

        })

     
       


    </script>

{% endblock %}