{% extends "../public/layout.html" %}

{% block title %} 已审核列表 {% endblock %}

{% block main %}
<style>
    
    table td .text-check{
        background-color: #28a745;
        border-color: #28a745;
        color: #fff !important;
    }
    .downBtn{
        margin-right: 30px;
    }
    #InputFile{
        cursor: pointer;
    }
    .tip{
        color: coral;
        margin-bottom: 0;
        height: 38px;
        line-height: 38px;
        font-size: 15px;
    }
    /* .custom-file-label::after{
        content: "导入";
        background-color: #28a745;
        color: #fff !important;
    } */
</style>
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card ">
                        
                        <div class="card-header">
                            <h3 class="card-title">分配考场</h3>

                        </div>
                        <div class="card-header row">
                            <div class="col-7">
                                <p class="tip">导入前请先下载模板，按照模板内容进行考场编辑，格式不得有误，否则信息将不准确。</p>

                            </div>
                            <form class="input-group col-5" id="idcardForm" enctype="multipart/form-data" method="post" name="fileinfo">
                                <a href="/admin/downFiles?filename=考场分配模板.xlsx" class="btn btn-primary pull-right downBtn">下载模板</a>
                            
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="InputFile" name="myfile">
                                    <label class="custom-file-label" for="InputFile">请上传.xlsx文件</label>
                                </div>
                                <div class="input-group-append">
                                    <button type="button" class=" btn btn-primary submitBtn">导入</button>
                                </div>
                                <input type="hidden" name="aa" value="aa123">
                            
                            </form>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover  table-bordered">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>姓名</th>
                                        <th>手机号</th>
                                        <th>报考类别</th>
                                        <th>报考专业</th>
                                        <th>考试日期</th>
                                        <th>准考证号</th>
                                        <th>考点名称</th>
                                        <th>考场号</th>
                                        <th>座位号</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for list in lists %}

                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{list.uname}}</td>
                                        <td>{{list.phone}}</td>
                                        <td>{{list.exam[0].exam_name}}</td>
                                        <td>{{list.classify[0].classify_name}}</td>
                                        <td>
                                            {{helper.formatTime2(list.classify[0].exam_start)}}
                                            至 
                                            {{helper.formatTime2(list.classify[0].exam_end)}}
                                        </td>
                                        <td>{{list.exam_card}}</td>
                                        <td>{{list.room_name}}</td>
                                        <td>{{list.room_num}}</td>
                                        <td>{{list.seat_num}}</td>
                                        
                                        
                                        

                                       
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if lists.length == 0 %}
                            <div class="text-center py-2">暂无待分配考生信息</div>
                            {% endif %}
                        </div>
                        {% if totalPages > 1 %}
                        <div class="card-footer">
                            <div id="page" class="pagination float-right"></div>
                        </div>
                        {% endif %}
                    </div>
                   
                </div>
            </div>

        </div>
    </section>
    <script>
        

        $('#page').jqPaginator({
            totalPages: Number('{{totalPages}}'),
            visiblePages: 8,
            currentPage: Number('{{page}}'),
            onPageChange: function (num, type) {
                console.log('当前第' + num + '页', type);
    
                if (type == 'change') {
                    window.location.href="/admin/allocate/allocatePage?exam_id={{exam_id}}&classify_id={{classify_id}}&page=" + num;
    
                }
            }
        });
        var formData,isChoose=false;

        $(".submitBtn").click(function(){
            
            if (!isChoose) {
                Swal.fire({
                    title: '温馨提示',
                    text: "请先选择基于模板填写的考场表格",
                    icon: 'info',
                    confirmButtonText: '好的'
                })
                return
            }

            Swal.fire({
                title: '正在分配考场',
                allowOutsideClick:false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                }
            })

            $.ajax({
				type: 'POST',
				url: '/admin/uploadAllocate?_csrf=' + csrf+"&exam_id={{exam_id}}&classify_id={{classify_id}}",
				data: formData,
				// 告诉jQuery不要去处理发送的数据
				processData: false,
				// 告诉jQuery不要去设置Content-Type请求头 enctype="multipart/form-data"
				contentType: false,
				dataType: 'json',
                enctype:"multipart/form-data",
                
                async: false,
				success: function (res) {
                    Swal.close()
					console.log(res);
					if (res.code==0) {
                        Swal.fire({
                            title: "温馨提示",
                            text: res.msg,
                            icon: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: '好的',
                            allowOutsideClick:false,
                        }).then(function(){
                            window.location.reload();
                        })
                    }else{
                        isChoose=false;
                        $("#InputFile").val(null);
                        $(".custom-file-label").text("请上传.xlsx文件");
                        Swal.fire({
                            title: "温馨提示",
                            text: res.msg,
                            icon: 'error',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: '确定',
                        })
                    }
				},
				error: function (err) {
					Swal.fire({
						title: 'Error!',
						text: '网络原因，上传失败，请稍后再试。',
						icon: 'error',
						confirmButtonText: '好的'
					})
				}
			});
        })

        //选择文件
        $("#InputFile").change(function(e){
            var supportedType = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';

			var file = e.target.files[0];
            console.log(file);
            
            if (!file) {
				return
			}
            if (file.type!=supportedType) {
                Swal.fire({
                    title: 'Error!',
                    text: "文件格式只支持.xlsx表格文件",
                    icon: 'error',
                    confirmButtonText: '好的'
                })
                return
            }
            
            var form = $("#idcardForm");
			formData = new FormData(form[0]);
			console.log(formData);
			
            isChoose=true;
        })



    </script>

{% endblock %}