{% extends "../public/layout.html" %}

{% block title %} 已审核列表 {% endblock %}

{% block main %}
<style>
    
    table td .text-check{
        background-color: #28a745;
        border-color: #28a745;
        color: #fff !important;
    }
    .downBtn{
        margin-right: 30px;
    }
    #InputFile{
        cursor: pointer;
    }
    .tip{
        color: coral;
        margin-bottom: 0;
        height: 38px;
        line-height: 38px;
        font-size: 14px;
    }
    /* .custom-file-label::after{
        content: "导入";
        background-color: #28a745;
        color: #fff !important;
    } */
</style>
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card ">
                        
                        <div class="card-header">
                            <h3 class="card-title">考生详情</h3>

                        </div>
                        <div class="card-header row">
                            <div class="col-6">
                                <p class="tip">导入前请先下载考生信息模板，在模板中编辑所有考生成绩，格式不得有误。</p>

                            </div>
                            <form class="input-group col-6" id="idcardForm" enctype="multipart/form-data" method="post" name="fileinfo">
                                <a href="/admin/allocate/downScoreExaminees?classify_id={{classify_id}}" class="btn btn-primary pull-right downBtn">下载考生信息模板</a>
                            
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="InputFile" name="myfile">
                                    <label class="custom-file-label" for="InputFile">请上传.xlsx文件</label>
                                </div>
                                <div class="input-group-append">
                                    <button type="button" class=" btn btn-primary submitBtn">发布成绩</button>
                                </div>
                                <input type="hidden" name="aa" value="aa123">
                            
                            </form>
                        </div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover  table-bordered">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>姓名</th>
                                        <th>手机号</th>
                                        <th>报考类别</th>
                                        <th>报考科目</th>
                                        <th>准考证号</th>
                                        
                                        {% for item in subjectLists %}
                                        <th>{{item.subject_name}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for list in lists %}

                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{list.uname}}</td>
                                        <td>{{list.phone}}</td>
                                        <td>{{list.exam[0].exam_name}}</td>
                                        <td>{{list.classify[0].classify_name}}</td>
                                        <td>{{list.exam_card}}</td>
                                        {% for item in list.scorelists %}
                                        <td>{{item.core}}</td>
                                        {% endfor %}
                                        
                                        

                                       
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if lists.length == 0 %}
                            <div class="text-center py-2">暂无考生信息</div>
                            {% endif %}
                        </div>
                        {% if totalPages > 1 %}
                        <div class="card-footer">
                            <div id="page" class="pagination float-right"></div>
                        </div>
                        {% endif %}
                    </div>
                   
                </div>
            </div>

        </div>
    </section>
    <script>
        

        $('#page').jqPaginator({
            totalPages: Number('{{totalPages}}'),
            visiblePages: 8,
            currentPage: Number('{{page}}'),
            onPageChange: function (num, type) {
                console.log('当前第' + num + '页', type);
    
                if (type == 'change') {
                    window.location.href="/admin/allocate/scoreDetail?exam_id={{exam_id}}&classify_id={{classify_id}}&score_status={{score_status}}&page=" + num;
    
                }
            }
        });
       
        var formData, isChoose = false;

        $(".submitBtn").click(function () {

            if (!isChoose) {
                Swal.fire({
                    title: '温馨提示',
                    text: "请先选择考生成绩表格",
                    icon: 'info',
                    confirmButtonText: '好的'
                })
                return
            }

            Swal.fire({
                title: '正在导入成绩',
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                }
            })

            $.ajax({
                type: 'POST',
                url: '/admin/uploadScore?_csrf=' + csrf + "&exam_id={{exam_id}}&classify_id={{classify_id}}",
                data: formData,
                // 告诉jQuery不要去处理发送的数据
                processData: false,
                // 告诉jQuery不要去设置Content-Type请求头 enctype="multipart/form-data"
                contentType: false,
                dataType: 'json',
                enctype: "multipart/form-data",

                async: false,
                success: function (res) {
                    Swal.close()
                    console.log(res);
                    if (res.code == 0) {
                        Swal.fire({
                            title: "温馨提示",
                            text: res.msg,
                            icon: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: '好的',
                            allowOutsideClick: false,
                        }).then(function () {
                            window.location.reload();
                        })
                    } else {
                        isChoose = false;
                        $("#InputFile").val(null);
                        $(".custom-file-label").text("请上传.xlsx文件");
                        Swal.fire({
                            title: "温馨提示",
                            text: res.msg,
                            icon: 'error',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: '确定',
                        })
                    }
                },
                error: function (err) {
                    Swal.fire({
                        title: 'Error!',
                        text: '网络原因，上传失败，请稍后再试。',
                        icon: 'error',
                        confirmButtonText: '好的'
                    })
                }
            });
        })

        //选择文件
        $("#InputFile").change(function (e) {
            var supportedType = ["application/vnd.ms-excel",'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'];

            var file = e.target.files[0];
            console.log(file);

            if (!file) {
                return
            }
            if (supportedType.indexOf(file.type) < 0) {
                Swal.fire({
                    title: 'Error!',
                    text: "文件格式只支持.xlsx和.xls表格文件",
                    icon: 'error',
                    confirmButtonText: '好的'
                })
                return
            }

            if (file.name.split(".xls")[0] != "{{filename}}") {
                Swal.fire({
                    title: 'Error!',
                    text: file.name+"文件名称与下载模板名称不一致，请先下载考生信息模板，编辑后再上传。正确文件名为：{{filename}}",
                    icon: 'error',
                    confirmButtonText: '好的'
                })
                return
            }
            var form = $("#idcardForm");
            formData = new FormData(form[0]);
            console.log(formData);

            isChoose = true;
        })
    


    </script>

{% endblock %}