{% extends "../public/layout.html" %}

{% block title %} 管理员增加 {% endblock %}

{% block main %}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">增加管理员</h3>
                    </div>
                    <form role="form" action="/admin/manager/doAdd" method="post">
                        <div class="card-body">
                            <div class="form-group col-md-6">
                                <label for="exampleInputUsername">姓名</label>
                                <input type="text" class="form-control" id="exampleInputUsername" name="username" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputMobile">电话 <span>（登录密码默认为手机号后 6 位）</span></label>
                                <input type="number" class="form-control" id="exampleInputMobile" name="mobile" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="organ_id">所属机构</label>
                                <select class="form-control" name="organ_id" id="organ_id">
                                    {% for organResult in organResults %}
                                    <option value="{{organResult._id}}">{{organResult.organ_name}}</option>
                                    {% endfor %}
                                </select>
                            </div> 
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}