{% extends "../public/layout.html" %}

{% block title %} 管理员增加 {% endblock %}

{% block main %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">编辑管理员</h3>
                    </div>
                    <form role="form" action="/admin/manager/doEdit" method="post">
                        <div class="card-body">
                            <div class="form-group col-md-6">
                                <label for="exampleInputUsername">管理员名称</label>
                                <input type="text" class="form-control" id="exampleInputUsername" name="username"
                                    readonly value="{{adminResult.username}}">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for="exampleInputMobile">管理员电话</label>
                                <input type="number" class="form-control" id="exampleInputMobile" name="mobile"
                                    value="{{adminResult.mobile}}" required>
                            </div>
                          
                            <div class="form-group col-md-6">
                                <label for="organ_id">所属平台</label>
                                <select class="form-control" name="organ_id" id="organ_id">
                                    {% for organResult in organResults %}
                                    {% if organResult._id.toString()==adminResult.organ_id.toString() %}
                                    <option value="{{organResult._id}}" selected>{{organResult.organ_name}}</option>

                                    {% else %}
                                    <option value="{{organResult._id}}">{{organResult.organ_name}}</option>

                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="id" readonly value="{{adminResult._id}}" />

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}