.custom-file-label::after{
    content: "选择";
}
/*修改数量*/
.table .text-center span{
    display: block;
    /* background: red; */
    /* cursor: pointer; */
    text-align: center;
}
.table .text-center span input{
    width: 60px;
}
section{
    padding: 30px 15px;
}

.formBox {
    position: relative;
}
.fileImgBox{
    display: inline-block;
    width: 300px;
    margin-right: 2%;
}

.previewImg {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.fileImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
    opacity: 0;
}
.brand-text{
    font-size: 0.8rem;
}
label span{
    font-size: 14px !important;
    color: #1706f4;
}
.card-title span{
    font-size: 14px !important;
    color: #1706f4;
}
body.text-sm .nav-sidebar>.nav-item .nav-icon.fas{
    font-size: 0.85rem;
}

.swal2-container{
    z-index: 10600 !important;
}
section p a,table td a{
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
    display: inline-block;
    height: 28px;
    /* width: 50px; */
    padding: 0 8px;
    text-align: center;
    line-height: 28px;
    margin-left: 6px;
    border-radius: 4px;
}
.card-body>.table>thead>tr>td, .card-body>.table>thead>tr>th{
    min-width: 85px;
}
table td a:hover{
    color: #fff;
}
.delete{
    background-color: #ff4161 !important;

}
.sort{
    font-size: 20px;
}

.pb0{
    padding-bottom: 0 !important;
}
.pt0{
    padding-top: 0 !important;
}
.input-group .input-group-addon{
    width: 38px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

table td .successBtn{
    background: rgb(17, 201, 0);
}
table td .dangerBtn{
    background: rgb(255, 31, 31);
}

.card-header .toolBtn{
    height: 38px !important;
    line-height: 26px !important;
    margin-left: 40px;
}

.tableNoWrap>tbody>tr>td{
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}