{% extends "../public/layout.html" %}

{% block title %} 订单列表 {% endblock %}

{% block main %}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">订单列表</h3>

                        <div class="card-tools">
                            <form action="/admin/order" method="GET">
                                <div class="input-group input-group-sm" style="width: 200px;">
                                    <input type="hidden" name="last_company_name" value="{{last_company_name}}">
                                    <input type="hidden" name="last_prevPage" value="{{last_prevPage}}">

                                    <input type="text" name="keyword" class="form-control float-right"
                                        placeholder="请输入订单号查询" value="{{keyword}}">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary"><i
                                                class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover  table-bordered">
                            <thead>
                                <tr>
                                    <th>订单号</th>
                                    <th>姓名</th>
                                    <th>订单车型</th>
                                    <th>定金金额</th>
                                    <th>支付时间</th>
                                    <th>状态</th>
                                    <th>分享人</th>
                                    <th class="text-center">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for list in lists %}
                                <tr>
                                    <td>{{list.out_trade_no}}</td>
                                    <td>{{list.user[0].username}}</td>
                                    <td>{{list.car[0].car_name}}</td>
                                    <td>{{list.total_fee/100}}元</td>
                                    <td>{{helper.formatTime(list.add_time)}}</td>
                                    <td>
                                    {% if list.status == 1 %}
                                    <span class="text-primary">已支付,待审核</span>
                                    {% elif list.status == 2 %}
                                    <span class="text-danger">审核未通过，已退款</span>
                                    {% elif list.status == 3 %}
                                    <span class="text-success">征信审核通过</span>
                                    {% elif list.status == 4 %}
                                    <span class="text-success">提车成功</span>
                                    {% endif %}
                                    </td>
                                    <td>
                                    {% if list.share[0].username %}
                                    {{list.share[0].username}}
                                    {% else %}
                                    无
                                    {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <a href="/admin/order/detail?id={{list._id}}">查看</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if lists.length == 0 %}
                        <div class="text-center py-2">暂时没有信息哦</div>
                        {% endif %}
                    </div>
                    {% if totalPages > 1 %}
                    <div class="card-footer">
                        <div id="page" class="pagination float-right"></div>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>

    </div>
</section>
<script>

    {# $('#page').jqPaginator({
        totalPages: Number('{{totalPages}}'),
        visiblePages: 8,
        currentPage: Number('{{page}}'),
        onPageChange: function (num, type) {
            console.log('当前第' + num + '页', type);

            if (type == 'change') {

                location.href = "/admin/user?last_company_name={{last_company_name}}&last_prevPage={{last_prevPage}}&keyword={{keyword}}&page=" + num;
            }
        }
    }); #}




</script>
{% endblock %}