{% extends "../public/layout.html" %}

{% block title %} 增加人才 {% endblock %}

{% block main %}

<style>
    .select2-container .select2-selection--single {
        height: inherit;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 8px;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">增加人才信息</h3>
                    </div>
                    <form id="actionForm" role="form" action="/admin/user/doAdd" method="post">
                        <div class="card-body">
                            <div class="form-group col-md-6">
                                <label for="exampleInputUsername">姓名</label>
                                <input type="text" class="form-control" id="exampleInputUsername" name="username">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputMobile">电话</label>
                                <input type="number" class="form-control" id="exampleInputMobile" name="phone">
                            </div>
                            <div class="form-group col-md-6">
                                <label>企业</label>
                                <select class="form-control select2" style="width: 100%;" name="company_name">
                                    <option value="">请选择</option>
                                    {% for item in companyResult %}
                                    <option value="{{item.company_name}}">{{item.company_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputidcard">身份证号</label>
                                <input type="text" class="form-control" id="exampleInputidcard" name="idcard">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">户籍</label>
                                <div class="row mb-2 citySelectBox">
                                    <div class="col-sm-6">
                                        <select class="form-control prov" name="prov" id="provSct">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control city" name="city" id="citySct" disabled>
                                            <option value="">请选择</option>
                                        </select>
                                    </div>

                                </div>
                            </div>

                            <input id="idcard" type="hidden" name="idcard_pic">
                            <input id="housebook" type="hidden" name="housebook_pic">
                            <input id="social" type="hidden" name="social_pic">
                            <input id="contract" type="hidden" name="contract_pic">
                            <input id="contract" type="hidden" name="storage_status" value="2">
                    </form>
                    <div class="form-group row">
                        <div class=" col-sm-6 ">

                            <label for="exampleInputFile">身份证照片</label>
                            <div class="formBox">
                                <form class="imgForm" id="idcardForm" enctype="multipart/form-data" method="post"
                                    name="fileinfo">
                                    <input class="fileImg" type="file" id="idcardInput" multiple name="myfile">
                                    <div class="fileImgBox">
                                        <img class="previewImg" id="idcardPreview" src="/public/admin/images/add.png">
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class=" col-sm-6 ">

                            <label for="exampleInputFile">户口本照片</label>
                            <div class="formBox">
                                <form class="imgForm" id="housebookForm" enctype="multipart/form-data" method="post"
                                    name="fileinfo">
                                    <input class="fileImg" type="file" id="housebookInput" multiple name="myfile">
                                    <div class="fileImgBox">
                                        <img class="previewImg" id="housebookPreview"
                                            src="/public/admin/images/add.png">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class=" col-sm-6 ">
                            <label for="exampleInputFile">社保流水照片</label>
                            <div class="formBox">
                                <form class="imgForm" id="socialForm" enctype="multipart/form-data" method="post"
                                    name="fileinfo">
                                    <input class="fileImg" type="file" id="socialInput"  name="myfile">
                                    <div class="fileImgBox">
                                        <img class="previewImg" id="socialPreview" src="/public/admin/images/add.png">
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class=" col-sm-6 ">
                            <label for="exampleInputFile">合同照片</label>
                            <div class="formBox">
                                <form class="imgForm" id="contractForm" enctype="multipart/form-data" method="post"
                                    name="fileinfo">
                                    <input class="fileImg" type="file" id="contractInput"  name="myfile">
                                    <div class="fileImgBox">
                                        <img class="previewImg" id="contractPreview" src="/public/admin/images/add.png">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button class="submitBtn btn btn-primary" type="button">提交</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script>
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
        theme: 'bootstrap4'
    })
    app.fileChange("idcardInput", "idcardPreview", "idcardForm", "idcard", 1);
    app.fileChange("housebookInput", "housebookPreview", "housebookForm", "housebook", 1);
    app.fileChange("socialInput", "socialPreview", "socialForm", "social", 1);
    app.fileChange("contractInput", "contractPreview", "contractForm", "contract", 1);
    $(".submitBtn").click(function () {
        if (checkNull('username') && checkNull('phone') && checkNull('company_name') && checkNull('idcard') && checkNull('city')) {
            $("#actionForm").submit();

        }else{
            Swal.fire({
                title: '请填写完整信息',
                text: "",
                icon: 'warning',
                confirmButtonText: '好的'
            })
        }
    })

    $(".citySelectBox").citySelect({
        nodata: "none",
        required: false
    });
    function checkNull(name) {
        if ($("input[name='" + name + "']").val() || $("select[name='" + name + "']").val()) {
            return true;
        } else {
            return false;
        }
    }
</script>

{% endblock %}